<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="libs;"/>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.11.4.0" newVersion="3.11.4.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
	<connectionStrings>
		<add name="Database" connectionString="Data Source=D:\BigData\DataClean\DataClean\Data\Database.sqlite" providerName="SQLite"/>
		<add name="Database1" connectionString="Data Source=D:\BigData\DataClean\DataClean\Data\Database1.sqlite" providerName="SQLite"/>
		<add name="R_Database" connectionString="Data Source=Data\Database.sqlite" providerName="SQLite"/>
		<add name="R_Database1" connectionString="Data Source=Data\Database1.sqlite" providerName="SQLite"/>
	</connectionStrings>
</configuration>
